trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self

- task: NodeTool@0
  inputs:
    versionSpec: '20.x'   # or whatever Node version you need
  displayName: 'Install Node.js'

- script: |
    cd backend
    npm install
    npm run build
  displayName: 'npm install and build'
